aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.14.1
attrs==26.1.0
bitarray==3.8.2
certifi==2026.6.17
charset-normalizer==3.4.9
ckzg==2.1.8
colorama==0.4.6
cytoolz==1.1.0
databento==0.81.0
databento-dbn==0.62.0
distro==1.9.0
-e git+https://github.com/jeremysecondstate/ducketz.git@204ea96b89107bfb1b54190d9c06c60503f68265#egg=ducketz
eth-account==0.13.7
eth-hash==0.8.0
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==6.0.0
eth-utils==5.3.1
eth_abi==6.0.0b1
exchange_calendars==4.13.2
filelock==3.29.7
frozenlist==1.8.0
fsspec==2026.6.0
h11==0.16.0
hexbytes==1.3.1
httpcore==1.0.9
httpx==0.28.1
hyperliquid-python-sdk==0.24.0
idna==3.18
iniconfig==2.3.0
Jinja2==3.1.6
jiter==0.16.0
joblib==1.5.3
korean_lunar_calendar==0.4.0
lightgbm==4.7.0
MarkupSafe==3.0.3
mpmath==1.3.0
msgpack==1.2.1
multidict==6.7.1
narwhals==2.24.0
networkx==3.6.1
numpy==2.5.1
openai==2.45.0
packaging==26.2
pandas==3.0.3
pandas-stubs==3.0.3.260530
parsimonious==0.10.0
pip_system_certs==5.3
pluggy==1.6.0
propcache==0.5.2
py-ecc==8.0.0
pyarrow==24.0.0
pycryptodome==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyluach==2.3.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
regex==2026.6.28
requests==2.34.2
rlp==4.1.0
scikit-learn==1.9.0
scipy==1.18.0
setuptools==83.0.0
six==1.17.0
sniffio==1.3.1
sympy==1.14.0
threadpoolctl==3.6.0
toolz==1.1.0
torch==2.13.0
tqdm==4.68.4
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
urllib3==2.7.0
websocket-client==1.9.0
yarl==1.24.2
zstandard==0.25.0